{{template "base" .}}
{{ define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>This is the home page.</h1>
                <img src="/static/images/house.jpeg" alt="House image" height="720" width="1280">
            </div>
        </div>
    </div>
{{ end }}